<html>

<head>
    <title>Sample App</title>
    <base href="/" />
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>User Details</h1>

    <label>Name:</label> <%= profile.name %><br />
    <label>Email:</label> <%= profile.email %><br />
    <label>ID:</label> <%= profile.id %><br />
    <label>Admin?</label> <%= isAdmin %>
    <% if(!isAdmin) { %>
        <a href="/org/<%= orgID %>/users/<%= profile.id %>/makeAdmin">(make admin)</a> <br />
    <% } else { %>
        <a href="/org/<%= orgID %>/users/<%= profile.id %>/revokeAdmin">(revoke admin)</a> <br />
    <% } %>

    <form action="/updateUser">
        <input type="hidden" name="userID" value="<%= profile.id %>" />
        <input type="hidden" name="orgID" value="<%= orgID %>" />
        <label>Phone Number:</label> <input type="text" name="userPhone" value="<%= profile.PhoneNumber %>" />
        <label>Addresses:</label> <input type="text" name="userAddresses" value="<%= profile.HomeAddresses %>" />
        <input type="submit" value="Update" />
    </form>

    <br />
    <a href="/org/<%= orgID %>">&lt; Back to Organization</a>
</body>

</html>
